@font-face {
  font-family: "proxima_nova_altbold";
  src: url("../assets/fonts/ProximaNova/proxima_nova_alt_bold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_alt_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_altlight";
  src: url("../assets/fonts/ProximaNova/proxima_nova_alt_light-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_alt_light-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_nova_altthin";
  src: url("../assets/fonts/ProximaNova/proxima_nova_alt_thin-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_alt_thin-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novablack";
  src: url("../assets/fonts/ProximaNova/proxima_nova_black-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_black-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novabold";
  src: url("../assets/fonts/ProximaNova/proxima_nova_bold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_bold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novaextrabold";
  src: url("../assets/fonts/ProximaNova/proxima_nova_extrabold-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_extrabold-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima_novathin";
  src: url("../assets/fonts/ProximaNova/proxima_nova_thin-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proxima_nova_thin-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "proxima-nova";
  src: url("../assets/fonts/ProximaNova/proximanova-regular-webfont.woff2")
      format("woff2"),
    url("../assets/fonts/ProximaNova/proximanova-regular-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import "@angular/material/theming";

$custom-typography: mat-typography-config(
  $font-family: "proxima-nova",
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);
@include angular-material-typography($custom-typography);
