$primaryThemeColor: #47a1f6;

$bodyBg: #f0f5fb;
$whiteBg: #ffffff;
$listGridBtnBorderColor: #dee6ec;
$baseFont: proxima-nova;
$primaryTextColor: #668094;
$onepxLightBrdr: 1px solid #f0f5fb;

//users
$userCardMainBorderRad: 5px;
$userCardNameColor: #47a1f6;
$userCardIconBg: #47a1f6;
$userTableAltBg: #f8fbfd;
$userTableAvatarBorderColor: #47a1f6;
$userTableTitleColor: #47a1f6;
$userTableOddBg: #f8fbfd;
$tableTextColor: #253244;
