@import "../../../styles/variables.scss";

:host {
  h3 {
    margin: 0px 10px;
    font-size: 16px;
  }

  .dash-box-top {
    background-color: #fff;
    border-radius: 8px;
    header {
      padding: 16px 13px;
    }
    main {
      background-color: #f8fbfd;
      padding: 10px 46px;
      border-top: 1px solid #f0f5fb;
      border-bottom: 1px solid #f0f5fb;
    }
  }

  .dash-box-blog {
    background-color: #fff;
    border-radius: 8px;
    header {
      padding: 13px;
      border-bottom: $onepxLightBrdr;
    }
    main {
      padding: 15px 36px;
    }
  }
}
