@import "../../../../styles/variables.scss";

:host {
  font-family: $baseFont;

  display: block;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;

  .top-nav-wrapper {
    .btn-toggle {
      color: $primaryThemeColor;
    }
    height: 76px;
    background-color: $whiteBg;
    .nav-brand {
      width: 215px;
      text-align: center;
    }
    .topnav-icon {
      text-decoration: none;
      display: flex;
      color: $whiteBg;
    }
    .notification-btn {
      color: black;
      font-size: 28px;
    }
    .avtar-cover {
      margin-left: 20px;
      
      border-radius: 40px;
      
      background-color: $primaryThemeColor;
      .avtar {
        font-size: 23px;
        margin-top: 20px;
        font-weight: 700;
        color: $whiteBg;
      }
    }

    .nav-spacer {
      flex: 1 1 auto;
    }

    .visible-md {
      display: none;
    }
    .visible-sm {
      display: none;
    }
    @media screen and (max-width: 992px) {
      .visible-md {
        display: block;
      }
    }
    @media screen and (max-width: 768px) {
      .visible-sm {
        display: block;
      }
      .nav-brand {
        width: 100%;
      }
    }
    @media screen and (max-width: 768px) {
      .hidden-sm {
        display: none;
      }
    }
  }
}
